<%- include('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
        </thead>
        <% articles.forEach(article => { %>
            <tr>
                <th><%= article.id %></th>
                <th><%= article.title %></th>
                <th><%= article.slug %></th>
                <th><%= article.category.title %></th>
                <th>
                    <a href="" class="btn btn-warning">Editar</a>

                    <form action="/articles/delete" method="post" style="display: inline" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" id="id" value="<%= article.id %>">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </th>
            </tr>
        <% }) %>
        <tbody>

        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        let decision = confirm("Você quer deletar este artigo?")

        if(decision)
            form.submit()

    }
</script>